.line{
  background-color: #2e87bf;
  border-radius: 15px 15px;
  height: 3px;
  width: 100%;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; 
}

.bigDot{
  color : white;
  z-index: 90;
  background-color: #2e7aaa;
  
  line-height: 40px;
  font-size: 0.7em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top:-17px;
}


.littleDot{
  z-index: 99;
  background-color: #1C9BEB;/*#2e7aaa;*/
  transition : 0.3s ease-in-out;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 41%;
}
.littleDot:hover {
  transform: scale(1.5);
  z-index: 100;
  background-color: #5DB7F0;
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}