.line{
  background-color: #2e87bf;
  border-radius: 15px 15px;
  height: 6px;
  width: 100%;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; 
}

.bigDot{
  color : white;
  z-index: 80;
  background-color: #2e87bf;
  
  line-height: 50px;
  font-size: 0.7em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top:-24px;
}

.littleDot{
  z-index: 90;
  background-color: rgb(103, 58, 183);/*#2e7aaa;*/
  transition : 0.3s ease-in-out;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 39%;
}

.littleDot:hover {
  transform: scale(1.5);
  z-index: 91;
  background-color: rgb(153, 110, 229);
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}