<div class="topBar">
  <img id="logo" src="../../assets/images/gitInsight.png" height="50 px"> <h1>GitInsights</h1>
</div>
<div class="mainContent">
  <mat-horizontal-stepper class="stepper-content">
    <!--------------------------------------------------------- STATS PAGE ------------------------------------------------------------->
    <mat-step >

      <ng-template matStepLabel>Statistics</ng-template>
      <mat-card class="timeline-card">
        <app-timeline></app-timeline>
      </mat-card>

      <mat-grid-list cols="3" rowHeight="2:1">

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- Language -->
            <table>
              <thead>
                <tr>
                  <th>
                    Languages
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="table-container">
                    <canvas id="chart"></canvas>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
            <img src="" alt="User avatar">
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- issues -->
            <table>
              <thead>
                <tr>
                  <th colspan="2">
                    Issues
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 52 </td>
                  <td> 45 </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <th> Opened </th>
                  <th> Closed </th>
                </tr>
              </tfoot>

            </table>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- General -->
            <table>
              <thead>
                <tr>
                  <th colspan="2">
                    Trivia
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 529'876 </td>
                  <td> 458 </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <th> Lines coded </th>
                  <th> Commits </th>
                </tr>
              </tfoot>
            </table>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- Repositories -->
            <table>
              <thead>
                <tr>
                  <th colspan="4">
                    Repositories
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 52 </td>
                  <td> 45 </td>
                  <td> 52 </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <th> Created </th>
                  <th> Forked </th>
                  <th> Stars </th>
                </tr>
              </tfoot>
            </table>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

      <button mat-button matStepperNext style="right : 50px; position:fixed; margin-top: 15px;"> Next </button>
    </mat-step>

    <!--------------------------------------------------------- TIPS PAGE ------------------------------------------------------------->
    <mat-step>
      <ng-template matStepLabel>TIPS</ng-template>
      <mat-card style="text-align: center">
        <h2> How can you get better  ? </h2>
      </mat-card>
      <div id="tip-container">
          <mat-card *ngFor="let tip of tips" class="tip-card">
            {{tip}}
          </mat-card>
        </div>
      <button mat-button matStepperPrevious style="left: 50px; position:fixed; margin-top:15px;"> Previous </button>
    </mat-step>

    
  </mat-horizontal-stepper>

</div>