<div class="topBar">
  <img id="logo" src="../../assets/images/gitInsight.png" height="50 px"> <h1>GitInsights</h1>
</div>
<div class="mainContent">
  <mat-horizontal-stepper class="stepper-content">
    <!--------------------------------------------------------- STATS PAGE ------------------------------------------------------------->
    <mat-step >

      <ng-template matStepLabel>Statistics</ng-template>
      <mat-card class="timeline-card">
        <app-timeline [milestones]="milestones"></app-timeline>
      </mat-card>

      <mat-grid-list cols="3" rowHeight="2:1">

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- Language -->
            <table>
              <thead>
                <tr>
                  <th>
                    Languages
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="canvas-container">
                    <canvas  #canvas id="canvas" height="100%" > {{ chart }} </canvas>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan="2">
          <div id="avatar-container" [ngStyle]="avatarStyle"> <div [ngClass]="flagClasses"></div></div>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- issues -->
            <table>
              <thead>
                <tr>
                  <th colspan="2">
                    Issues <!-- TODO : tooltip "concern personal repositories" -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let issue of issues">{{issue.value}}</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                    <th *ngFor="let issue of issues">{{issue.label}}</th>
                </tr>
              </tfoot>

            </table>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- General -->
            <table>
              <thead>
                <tr>
                  <th colspan="2">
                    Trivia <img alt="help" src="../../assets/images/help.png" height="20px" style="opacity: 0.3" matTooltip="Only the plublic repositories are considered" matTooltipPosition="above"> <!-- TODO : tooltip "only consider public repositories" -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let trivia of trivias"> {{trivia.value}}</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <th *ngFor="let trivia of trivias"> {{trivia.label}}</th>
                </tr>
              </tfoot>
            </table>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="stat-card">
            <!-- Repositories -->
            <table>
              <thead>
                <tr>
                  <th colspan="4">
                    Repositories
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td *ngFor="let repo of repositories"> {{repo.value}}</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                    <th *ngFor="let repo of repositories"> {{repo.label}}</th>
                </tr>
              </tfoot>
            </table>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

      <button mat-button matStepperNext style="right : 50px; position:fixed; margin-top: 15px;"> Next </button>
    </mat-step>

    <!--------------------------------------------------------- TIPS PAGE ------------------------------------------------------------->
    <mat-step>
      <ng-template matStepLabel>TIPS</ng-template>
      <mat-card style="text-align: center">
        <h2> How can you get better  ? </h2>
      </mat-card>
      <div id="tip-container">
          <mat-card *ngFor="let tip of tips" class="tip-card">
            {{tip}}
          </mat-card>
        </div>
      <button mat-button matStepperPrevious style="left: 50px; position:fixed; margin-top:15px;"> Previous </button>
    </mat-step>

    
  </mat-horizontal-stepper>

</div>